@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
nav{
    z-index: 20;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    width: 100%;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
body{
    padding:0;
    margin:0;
}
nav>ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    padding: 0.5rem;
    margin-right:30px;
}
nav>ul>li{
    display:inline;

}
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size:4rem;
    margin-top: 0;   
}
.center-main-title{
    color:white;
    text-shadow:0 0 4px black;
    bottom:70px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-weight: bold;
    font-style: italic;
    margin-left:auto;
    width: 85%;
}
.subtext-main{
    color:black;
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow:0 0 5px white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 3px;
}
ul>li>a{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    font-size: 1.5em;
    color:#FFB8B8;
}.purple-static{
    color:#9B59B6;
}
.red-static{
    color:#E74C3C;
}
.green-static{
    color:#2ECC71;
}
.green-svg{
    fill:#2ECC71;
    stroke: #2ECC71;
}
.yellow-static{
    color:#F1C40F;
}
.grey-static{
    color:#7F8C8D;
}
.blue-static{
    color:#3498DB;
}
.purple:hover{
    color:#9B59B6;
    transform: translateY(-10px);
}
.red:hover{
    color:#E74C3C;
    transform: translateY(-10px);
}
.green:hover{
    color:#2ECC71;
    transform: translateY(-10px);
}
.yellow:hover{
    color:#F1C40F;
    transform: translateY(-10px);
}
.blue:hover{
    color:#3498DB;
    transform: translateY(-10px);
}
.anim{
    transition: 250mx;
}

.main-icons{
    font-weight: bold;
    font-size: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 5rem;
}
.parallax{
position: relative;
background-attachment: fixed; /* Fixe l'image pendant le scroll */
background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
background-position: center; /* Centre la position de l'image */
background-repeat: no-repeat;
background-image: url("../images/cv-section-1-bg.jpg");
height: 100vh;
}
#section1{
    background-color: white;
    width: 80%;
    margin-left: 10% ;
}

.intro{
    width: 100%;
}
.photo-moi{
    width: 100%;
}
.intro-left{
    float: left;
    width: 30%;
    margin-right: 50px;
    margin-left:10%;
}
.titre-intro{
    clear:both;
    font-size: 3rem;
}
.intro-text{
    font-size: 1.5rem;
    margin:10%;
}
.contact-button{
    width: 100%;
    clear:both;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 0.5rem;
    border-radius: 5px;
    width: 20%;
    background-color: #2ECC71;
    text-decoration: none;
    padding:25px 50px;
    border-radius: 50px;
    color:white;
    font-weight: 600;
    text-align:center;
}
.contact-button:hover{
    background-color: #3498DB;
}
.contact-button-wrapper{
    display: flex;
    justify-content: center;
}
#section2{
    background-color: #EBEBEB;
    width: 100%;
    margin:0;
    padding-bottom: 50px;
}
h3{
    font-size: 3rem;
    text-align: center;
    padding-top:20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
h4{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top:0;
}
.skill-container{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.skill-left{
    width: 50%;
    margin-left: 10%;
    background-color: white;
    padding:30px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.skill-right{
    width: 50%;
    margin-right: 10%;
    background-color: white;
    padding:30px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.skill-bar{
    font-size: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.skill-text{
    font: size 1.5rem;
    font-family: 'roboto', sans-serif;
}
.skill-icon{
    width: 30%;
    display:flex;
    font-weight: bold;
    font-size: 10rem;
    justify-content: center;
    align-items: center;
}
svg {
    /* Place the icon on the text baseline. */
    position: relative;
    top: .125em;

    /* Prevent the icon from shrinking inside a flex container. */
    flex-shrink: 0;

    /* Scale the icon to match the font-size. */
    height: 1em;
    width: 1em;

    /* Let the icon take whatever color the parent has. */
    fill: green;

    /*
     * If the icon is used on a link, which has a color transition,
     * we can also transition the fill.
    */
   transition: fill .3s;
}
.timeline{
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
}
.text-bold{
    font-weight: bold;
}
.html {
    scroll-behavior: smooth!important;
}
.timeline-item{
    display: flex;
    position:relative;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.timeline-content{
    width: 50%;
    background-color:#EBEBEB;
    padding:40px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.timeline-separator{
    height: 100%;
    position:absolute;
    left:calc(30% + 52px);
    transform:translateY();
    width: 2px;
    background-color: #2ECC71;
}
.timeline-date{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.timeline-dot{
    position:absolute;
    top:50%;
    left:30%;
    transform:translateY(-50%);
    height: 24px;
    width: 24px;
    background-color: #2ECC71;
    border-radius: 50%;
}
.margin-bottom-0{
    margin-bottom: 0;
}
h5{
    margin-top: 0;
}
.project-card {
    position: relative;
    width: 45%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.project-card img {
    width: 100%;
    height: 100%;
    display: block;
}
.project-details {
    position: absolute;
    bottom: 37px;
    border-radius: 10px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover .project-details {
    bottom:0;
    transform: translateY(0);
}

.project-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.project-description {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.project-cta {
    display: block;
}

.project-cta a {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.project-cta a:hover {
    background-color: #f0f0f0;
}
.project-container{
    padding: 10%;
    padding-top:2%;
    display: flex;
}
#section4{
    background-color: #EBEBEB;
}



.contact-form {
    background-color:#EBEBEB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-left: 25%;
    margin-bottom:40px;
    width: 50%;
}
.contact-form h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9rem;
}
.top-input {
    display: flex;
    gap:20px;
    justify-content: stretch;
    align-items: stretch;
}
.contact-form input{
    box-sizing:content-box;
    width: calc(50% - 30px);
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

.contact-form button:hover {
    background-color: #0056b3;
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}
#mobile-nav {
    display: none;
}
footer p {
    margin: 0;
}
@media screen and (max-width: 768px) {
    .desktop{
        display: none;
    }
    #mobile-nav {
        display: block;
    }
    #menu>ul>li{
        padding: 10px;
    }
    h1{
        font-size: 1.5rem;
        margin-bottom: 10px;
        text-align: center;
    }
    h2{
        font-size: 2.5rem;
        
        text-align: center;
    }
    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.8rem;
    }
    /* Style du bouton de menu mobile */


/* Style pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
    .center-main-title{
        bottom:20px;
    }
    .main-icons{
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;
        justify-content: space-evenly;
        margin:0;
    }
    .titre-intro{
        font-size: 1.5rem;
    }
    .contact-button{
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }
    .intro-text{
        font-size: 1rem;
    }
    .skill-icon{
        display:none;
    }
    .skill-left,.skill-right{
        margin:0;
        width: 100%;
    }
    .timeline-separator,.timeline-dot,.timeline-date{
        display: none;
    }
    .timeline-content{
        margin:0;
        width: 100%;
    }
    .project-card{
        width: 100%;
    }
    .skill-bar{
        flex-wrap: wrap;
        font-size: 2rem;
    }
    #menu>ul>li>a {
        text-decoration: none;
        padding:10px;
        opacity:1;
        font-family: 'work sans', sans serif;
        font-size: 1.5em;
        font-weight: 400;
        transition: 200ms;
      }
      #menu>ul>li>a:hover {
        opacity:0.5;
      }
      #menu>ul {
        padding: 0;
        list-style-type: none;
      }
      .contact-form{
        width: 80%;
        margin-left: 5%;
      }
      
      
      .container {
        margin-top: 50px; 
        Display: flex;
        justify-content: center;
        align-items: center;
      }
      .phone {
        background-color: #4567e2;
        border-radius: 40px;
        width: 300px;
        height: 600px;
        Display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 30px 50px 100px #85888C;
      }
      .content {
        border: 1px solid #36383F;
        border-radius: 20px;
        width: 94%;
        height: 91%;
        background-color: #F5F6FA;
        overflow: hidden;
      }
      nav {
        
        position: fixed;
        background-color: #0000007e;
        height: 65px;
      }
      .project-card{
        height: 200px;
        width: 80%;
      }
      .project-container{
        justify-content: center;
      }
      #menuToggle {
        display: flex;
        flex-direction: column;
        
        position: relative;
        top: 25px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
      }
      
      #menuToggle input
      {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
      }
      
      #menuToggle span
      {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }
      
      #menuToggle span:first-child
      {
        transform-origin: 0% 0%;
      }
      
      #menuToggle span:nth-last-child(2)
      {
        transform-origin: 0% 100%;
      }
      
      #menuToggle input:checked ~ span
      {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F;
      }
      #menuToggle input:checked ~ span:nth-last-child(3)
      {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      #menuToggle input:checked ~ span:nth-last-child(2)
      {
        transform: rotate(-45deg) translate(0, -1px);
      }
      
      #menu
      {
        position: absolute;
        width: 180px;
        height: 400px;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        
    background-color: rgba(0, 0, 0, 0.7);
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }
      
      #menu li
      {
        padding: 10px 0;
        transition-delay: 2s;
      }
      
      #menuToggle input:checked ~ ul
      {
        transform: none;
      }
}
}

